{% extends 'base.html' %}
{% load static %}
| {% block page_title %} Log in {% endblock %}
{% block primary %}
<!-- Main -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row gtr-200">
				<div class="col-4 col-12-medium">
					<div id="sidebar">

						<!-- Sidebar -->
							<section>
								<h3>Search Params</h3>
								<p>Details</p>
								<footer>
									<a href="#" class="button icon solid fa-info-circle">Find out more</a>
								</footer>
							</section>

					</div>
				</div>
				<div class="col-8 col-12-medium imp-medium">
					<div id="content">
						<div id="error-message">
							{% if messages %}
		                      {% for message in messages %}
		                        {% if 'error' in message.tags %}
		                      <div id="messages" class="alert alert-danger in m-b-15">
		                        {% else %}
		                      <div id="messages" class="alert alert-success in">
		                        {% endif %}    
		                      <p>{{ message }}</p>
		                        </div>
		                     {% endfor %}
		                  {% endif %}
		                  {% if form.errors %}
		                      <div id="messages" class="alert alert-danger in m-b-15">
		                      {{ form.non_field_errors }}
		                      </div>
		                  {% endif %}
		              </div>

						<!-- Content -->
							<form id="login" action="." method="POST">
                                {% csrf_token %}
								<h2>Login to access more</h2>

								{{  form.username }} <br/>

								{{  form.password }} <br/>

								<button type="submit" name="login" class="button"> Login </button>

							</form>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock primary %}		