{% extends 'base.html' %}
{% load static %}
| {% block page_title %} Search {% endblock %}

{% block style_code %}
<link rel="stylesheet" href="{% static 'plugins/DataTables-1.10.23/css/datatables.min.css' %}" />
{% endblock style_code %}
{% block primary %}
<!-- Main -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row gtr-200">
				<div class="col-4 col-12-medium">
					<div id="sidebar">
                        <form id="MasterList" method="GET" action=".">
						<!-- Sidebar -->
							<section>
								<h3>Search Params</h3>
								<div class="form-group">
			                        <label for="name">Name</label>
								    {{ form.name }}
								</div>
								
								<div class="form-group">
			                        <label for="name">Approval Status</label>
								    {{ form.approval_status }}
								</div>
								<footer>
									<button type="submit" class="button icon solid fa-info-circle">Search Facility</button>
								</footer>
							</section>
						</form>


					</div>
				</div>
				<div class="col-8 col-12-medium imp-medium">
					<div id="content">

						<!-- Content -->
							<article>

								<h2>Search Results (0)</h2>

								<div class="search_results">
									<table id="results-table" class="display" style="width:100%">
										<thead>
											<tr>
												<th>#</th>
												<th>Code</th>
												<th>Name</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											
										</tbody>
									</table>
								</div>

							</article>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock primary %}
{% block lazy_js %}
<script src="{% static 'plugins/DataTables-1.10.23/js/datatables.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#results-table').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/api/v1/search/",
            "data": function ( d ) {
                d.name = $('#name').val();
                d.approval_status = $('#approval_status').val();
            }
        },
        "columns": [
                    { "data": "code" },
                    { "data": "name" },
                    { "data": "code" },
                    { "data": "name" }
                ]
    } );
} );
</script>
{% endblock lazy_js %}