{% extends 'base.html' %}
{% load static %}
| {% block page_title %} Search {% endblock %}
{% block primary %}
<!-- Main -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row gtr-200">
				<div class="col-4 col-12-medium">
					<div id="sidebar">
                        <form id="MasterList" method="GET" action=".">
						<!-- Sidebar -->
							<section>
								<h3>Search Params</h3>
								{{ form.name }}
								<footer>
									<button type="submit" class="button icon solid fa-info-circle">Search</button>
								</footer>
							</section>
						</form>


					</div>
				</div>
				<div class="col-8 col-12-medium imp-medium">
					<div id="content">

						<!-- Content -->
							<article>

								<h2>Results</h2>

								<p>Listing.</p>

							</article>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock primary %}	